.gantt-chart-container {
  position: absolute;
  bottom: -6rem;
  border: 1px solid white;
  padding-top: .3rem;
  padding-bottom: .3rem;
  overflow: hidden;
}

.completion-times {
  position: absolute;
  bottom: -7.2rem;
}

.completion-times > span {
  margin-right: 1rem;
  margin-left: 1rem;
}
