.main-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-page-container > button {
  height: 2.4rem;
  width: 25rem;
  background-color: transparent;
  color: rgb(222, 222, 222);
  border: none;
  cursor: pointer;
  transition: background-color 0.15s;
}

.main-page-container > button:hover {
  background-color: rgb(65, 39, 66);
}