.app-container {
  display: flex;
  justify-content: center;
  margin-top: 12rem;
  
}

.box {
  display: flex;
  justify-content: center;
  width: 25rem;
  border: 1px solid white;
  border-radius: .4rem;
}

