body {
  background-color: rgb(31, 28, 45);
  color: rgb(222, 222, 222);
  height: 100rem;
}

input {
  background-color: transparent;
  color: rgb(222, 222, 222);
  border: 1px solid rgb(222, 222, 222);
  padding: .3rem .3rem;
}

