body {
  background-color: rgb(15, 13, 15);
  color: rgb(222, 222, 222);
  height: 100rem;
}

input {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: .3rem .3rem;
}

