.home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start-button {
  margin-top: 1rem;
  padding: .7rem 2.6rem;
  width: 25rem;
  background-color: transparent;
  border: none;
  color: rgb(222, 222, 222);
  cursor: pointer;
  transition: background-color 0.15s;
}

.start-button:hover {
  background-color: rgb(60, 54, 86);
}

