.back-button {
  height: 2rem;
  width: 25rem;
  border: none;
  cursor: pointer;
  color: rgb(222, 222, 222);
  background-color: transparent;
  transition: background-color 0.15s;
}

.back-button:hover {
  background-color: rgb(60, 54, 86);
}